body {
    background-color: #fff;
    font-family: 'Playfair display','Crimson text' Verdana, sans-serif;
}
nav {
    display: block;
    position: absolute;
    font-family: 'Roboto Condensed',verdana,'san serif';
    color: #000;
    top: 35px;
    left: 10px;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    background-color: #475459;
}

nav a:hover {
    text-decoration: underline; 
    text-decoration-color: #BF6C06;

}
nav a {
    padding-bottom: 20px;
    display: block;   
}

link {
    display: inline;
    color: #000;
    size: large;
    background-color: #475459;
    border: none;
    padding: 20px;    
}

.active {
    text-decoration:underline;
    text-decoration-color: #BF6C06;
}

header {
    position: relative;
}
#menu-checkbox:checked ~ nav {
    display: block;
}
 
.menu-icon {
    display: block;
    cursor: pointer;
    padding: 10px;
}
 
.menu-icon i {
    font-size: 24px;
}
 
#menu-checkbox {
    display: none;
}

.banner-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

nav img {
    width: 110px;
    float: inline-start;
    margin-top: 20px;
    margin-left: 20px;
    display: none;    
}

@media (min-width: 600px) {
    nav {
        display: inline-block;
        position: relative;
        background-color: #fff;
        width: 100%;
        top: 0px;
        left: 0px;
        padding: 20px 0 20px 0;
    }

    .menu-icon {
        display: none;
    }

    nav a {
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: #000;
        text-decoration: none;
    }

    nav div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    nav img {
        width: 110px;
        float: left;
        margin-top: 0px;
        margin-left: 20px;
        display: flex;       
    }

    link {
        float: right;
        color: #000;
        font-size: large;
        background-color: #fff;
        border: none;   
    }
}
.home a {
    margin-right: 0px;
    text-decoration: none;
    color: darkslategray;
}

.shop a {
    text-decoration: none;
    color: lightslategray;
    font-weight: lighter;

}

.navi-line {
    font-weight: bold;
    display: inline-block;
    font-size: large;
    margin-left: 30px;
    gap: 0px;
    font-family: 'Roboto Condensed',verdana,'san serif';
    text-decoration: none;
    margin-top: 30px;
}

.navi-line div {
    display: inline;
    margin-right: 30px;
}

.oversikt-linje { 
    width: 60%;
}

header hr {
    height: 2px;
    border: none;
    background-color: darkslategray;  
}
.activen {
    color: #BF6C06;
    text-decoration: none;
}



main {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
}

.list-info p {
    display: list-item;   
}

.monsen-jacket-product {
    display: flex;
}

section img {
    max-width: 600px;
}

.monsen-info {
    max-width: 600px;
}

fieldset {
    width: 30rem;
    height: 20rem;
}

legend {
    font-size: 2rem;
}

button {
    border-radius: 50%;
    border: 1px solid;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    text-align: center;
}

.quantity-button{
    width: 3rem;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    border: 2px solid;
}






footer {
    background-color: #475459;
    padding: 30px;
    text-align: left;
    height: 180px;
    width: 100%;
}
 
.footer-content {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto Condensed',verdana,'san serif';
    color: #ffffff;
    margin-right: 200px;
    
   
    
}

footer img {
    width: 1410px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    
    
}
 
.help {
    display: flex;
    gap: 140px;
    
    
}
 
.helps {
    text-align: left;
    
    
}
 
.helps p {
    margin: 0 0 5px;
    
}

.follow p {
    margin: 0 0 5px;
    
}

.follow {
    text-align: left;
}



.footer-bottom {
    margin-top: 150px;
    font-size: small;
    display: inline;
    font-family: 'Roboto Condensed',verdana,'san serif';
    color: #ffffff;
    position: absolute;

}

.footer-linje hr {
    background-color: #fff;
    height: 1px;
    margin-top: 20px;
}