body {
    background-color: #D9D9D9;
    font-family: 'Playfair display','Crimson text' Verdana, sans-serif;
}
nav a {
    font-family: 'Roboto Condensed',verdana,'san serif';
    
}
nav a {
    color: #000;
    text-decoration: none;
    padding: 20px;
    padding-right: 80px;
    display: block;
    font-weight: bold;
    
}
nav a:hover {
    text-decoration: underline; 
    text-decoration-color: #BF6C06;
}
nav ul {
    padding: 20px;
    
}

button {
    display: inline-block;
    margin-left: 30px;
    color: #000;
    font-size: large;
    
}
.active {
    text-decoration:underline;
    text-decoration-color: #BF6C06;
}
nav {
    display: none;
    position: relative;
    background-color: #475459;
}

header {
    position: relative;
}
#menu-checkbox:checked ~ nav {
    display: block;
   
}
 
.menu-icon {
    display: block;
    cursor: pointer;
    padding: 10px;
}
 
.menu-icon i {
    font-size: 24px;
}
 
#menu-checkbox {
    display: none;
}

.banner-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    

}

nav img {
    width: 110px;
    float: inline-start;
    margin-top: 20px;
    margin-left: 20px;
    display: none;

       
}

main div {
    position: relative;
}




@media (min-width: 600px) {
    nav {
        display: block;
        position: static;
        background-color: #fff;
        

    }

    .menu-icon {
        display: none;
    }

    nav a {
        display: inline-block;

    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    nav img {
        width: 110px;
        float: inline-start;
        margin-top: 20px;
        margin-left: 20px;
        
    
           
    }

    button {
        float: right;
        margin-left: 30px;
        color: #000;
        font-size: large;
        
    }
}



main h3 {
    background:orange;
    display: flex;
    height: 20px;
    text-align: center;
    padding: 20px;
    justify-content: center;
    width: 50%;
    border-radius: 7px 7px 7px 7px;
    color: #023059;
    
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 
.popular-products {
    display: flex;
    gap: 30px;
    background-color: darkslategray;
    height: 300px;
    width: 80%;
    font-family: 'Playfair display','Crimson text' Verdana, sans-serif;
    color: #fff;
    margin-bottom: 100px;
    margin-top: 20px;
    padding: 20px;   
}



products {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

 .read-more-box a { 
   background-color: darkslategray;
    color: #fff;
    text-decoration: overline underline 2px;
    
 }
 
 .read-more-boxn a {
    background-color: darkslategray;
    color: #fff;
    
 }
.monsen p {
    margin: 3px;
    max-width: 300px;   
    padding-bottom: 10px;
    
}

.monsen-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}





products h4 {
    position: flex;
    text-align: left;
    font-family: 'Playfair display','Crimson text' Verdana, sans-serif;
    font-size: 2em;
    padding-left: 10px;

    
    
}

products p {
font-size: 18px;


}

.Tusna p {
    margin: 3px;
    max-width: 300px;   
    padding-bottom: 10px;
    
}

.Tusna-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    float: right;
    
}



footer {
    background-color: #475459;
    padding: 30px;
    text-align: left;
    height: 180px;
    width: 100%;
}
 
.footer-content {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto Condensed',verdana,'san serif';
    color: #ffffff;
    margin-right: 200px;
    
   
    
}

footer img {
    width: 1410px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    
    
}
 
.help {
    display: flex;
    gap: 140px;
    
    
}
 
.helps {
    text-align: left;
    
    
}
 
.helps p {
    margin: 0 0 5px;
    
}

.follow p {
    margin: 0 0 5px;
    
}

.follow {
    text-align: left;
}

main img {
    width: 100%;
    
    
    
}

.footer-bottom {
    margin-top: 150px;
    font-size: small;
    display: inline;
    font-family: 'Roboto Condensed',verdana,'san serif';
    color: #ffffff;
    position: absolute;

}

.pyntelinje {
    border-bottom: 2px dashed #fff;
    width: 100%;
    display: flex;
    margin-top: 150px;

    
}

 main ul {
    font-weight: bold;
    font-size: large;
    justify-content: left;
    gap: 30px;
    font-family: 'Roboto Condensed',verdana,'san serif';
    text-decoration: none;

}

main a {
    color: #000;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #000;
    
    
}
.activen {
    color: #BF6C06;
}

body {
    object-position: center;
}