.nav-line {
    font-weight: bold;
    font-size: large;
    font-family: 'Roboto Condensed',verdana,'san serif';
    text-decoration: none;
    

}

.oversik-linje hr {
    width: 60%;
    height: 2px;
    border: none;
    background-color: #000;
    
}
.home a {
    margin-right: 30px;
    
}
.shop a {
    margin-left: 30px;
}


.nav-line {
    font-weight: bold;
    display: inline-block;
    font-size: large;
    margin-left: 40px;
    gap: 30px;
    font-family: 'Roboto Condensed',verdana,'san serif';
    text-decoration: none;
    

}

.oversikt-linje hr {
    height: 2px;
    border: none;
    background-color: #000;
    width: 60%;
    margin-left: 170px;
   
}
.activen {
    color: #BF6C06;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row1 {
    background-color: darkslategray;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    
    
}

.monsen3 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;

}



.heltind-expedition1 {
   width: 300px;
   height: 300px;
    object-fit: cover;
    border-radius: 50%;
    
}

.row1 p {
    font-family: 'Roboto Condensed',verdana,'san serif';
    color: #ffffff;
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
   
}

.row1 h2 {
    font-size: 2em;
    color: #ffffff;
    border-radius: 7px 7px 7px 7px;
    text-decoration: underline orange;

}

.head-info {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.monsen3-head {
    margin-right: 150px;
}

.heltind-expedition1-head {
    margin-left: 0px;
    text-align: center;
    display: inline;
    width: 300px;
}